.contextContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.threeContainer {
  width: 100%;
  height: 90%;
}
.resetButton {
  width: 100%;
  height: 10%;
  background-color: #181818;
  color: #dcdcdc;
  border: 1px solid #505050;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
.resetButton:hover {
  background-color: #101010;
}
