.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  background-color: green;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  list-style: none;
  border: solid 1px white;
  background-color: black;
  color: white;
  text-align: center;
}

.Rtable-cell span {
  display: block;
  padding: 0.8em 1.2em;
}

.Rtable-cell input {
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  font-family: sans-serif;
  border: 1 px solid blue;
  width: 100%;
  height: 100%;
}

.Rtable--3cols .Rtable-cell {
  width: 33.3%;
}
