.visualizations {
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  height: 400px;
}

.viz {
  box-sizing: border-box;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*border: solid 1px red;*/
  background-color: black;
  color: white;
  text-align: center;
}

.compass-clino {
  /*background-color: yellow;*/
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 5px;
  border: solid 1px gray;
}

.schmidt {
  /*background-color: blue;*/
  width: 100%;
  height: 100%;
  border: solid 1px gray;
}

.context {
  background-color: #333333;
  width: 100%;
  border: solid 1px gray;
}

.compass {
  /*background-color: cyan;*/
  width: 100%;
  height: 60%;
}

.clino {
  /*background-color: brown;*/
  width: 100%;
  height: 40%;
}

@media screen and (min-width: 960px) {
  .compass-clino {
    width: 30%;
  }
  .schmidt {
    width: 40%;
  }
  .context {
    width: 30%;
  }
}
/*
@media screen and (min-width: 520px) {
}
*/
